body {
	background-image: url("background 2.jpg");
}
.uvod {
	background-color: black;
}

.naslov {
	font-size: 40px;
	padding-left: 15px;
	letter-spacing: 1px;
}
.opis {padding-left: 15px;}

.centar {
	background-color: #ffff99;
	width: 900px;
	height: 800px;
	float: left;
	margin-left: 150px;
	padding: 20px;
	padding-bottom: 100%;
}

 .glavnitext {
 }

.social {
	border-radius: 5px;
	float: right;
	margin-top: 20px;
	background-color: #ff33cc;
	padding: 20px;
}

.topnav {
	background-color: black;
	overflow: hidden
}
.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: white;
	color: black;

}
.topnav a:actve {
	background-color: black;
	color: white;

}

.lista {
	color: yellow}

.podaci {
	background-color: white;
}